<h3>{{title}}</h3>
{{progress-bar progressStyle=percentStyle}}
<div class="goal-start">Start: {{formattedStart}}</div>
<div class="goal-end">End: {{formattedEnd}}</div>
<div class="goal-progress">
  {{progress}}/{{total}} {{unit}}
</div>
