<div id="new-workout">
  <div id="title">
    Title
    {{input placeholder="Hatha Yoga" class="required" value=title}}
    {{#if titleErrors}}
      <ul id="title-errors">
        {{#each error in titleErrors}}
          <li class="error">{{error}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
  <div id="date">
    Date
    {{input placeholder=datePlaceholder class="datepicker required" value=date}}
    {{#if dateErrors}}
      <ul id="date-errors">
        {{#each error in dateErrors}}
          <li class="error">{{error}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
  <div id="start">
    Start time
    {{input placeholder=startTimePlaceholder class="timepicker required" value=startTime}}
    {{#if startTimeErrors}}
      <ul id="start-time-errors">
        {{#each error in startTimeErrors}}
          <li class="error">{{error}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
  <div id="end">
    End time
    {{input placeholder=endTimePlaceholder class="timepicker required" value=endTime}}
    {{#if endTimeErrors}}
      <ul id="end-time-errors">
        {{#each error in endTimeErrors}}
          <li class="error">{{error}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
  <div id="notes">
    Notes
    {{textarea placeholder="notes" value=notes}}
  </div>
  <button id="save-workout" {{action "saveWorkout"}}>Save Workout</button>
</div>
