<div id="user" class="inner">
  <div class="user-meta">
    <div class="user-data">
      <h3>{{name}}</h3>
      Yogi since {{since}}.
    </div>
    <div class="user-photo">
      <img {{bindAttr src=photo}}>
    </div>
  </div>
  <div class="user-stats-container">
    You've worked out {{stats.formattedAllHours}} in {{stats.allWorkouts}} workouts so far. Keep it up!
  </div>
</div>
