<div id="user">
    <div class="user-meta">
      <div class="user-data">
        <div class="inner">
          <h3 class="user-title">{{name}}</h3>
          Yogi since {{since}}.
        </div>
      </div>
      <div class="user-photo">
        <img {{bindAttr src=photo}}>
      </div>
    </div>
    <div class="user-stats-container">
      <div class="inner">
        {{#if stats.weekHours}}
          <div class="user-stats-week">
            <h4 class="stats-title">This Week</h4>
            {{stats-block hours=stats.formattedWeekHours workouts=stats.weekWorkouts}}
          </div>
        {{/if}}
        {{#if stats.monthHours}}
          <div class="user-stats-month">
            <h4 class="stats-title">This Month</h4>
            {{stats-block hours=stats.formattedMonthHours workouts=stats.monthWorkouts}}
          </div>
        {{/if}}
        {{#if stats.yearHours}}
          <div class="user-stats-year">
            <h4 class="stats-title">This Year</h4>
            {{stats-block hours=stats.formattedYearHours workouts=stats.yearWorkouts}}
          </div>
        {{/if}}
        {{#if stats.allHours}}
          <div class="user-stats-all">
            <h4 class="stats-title">All Time</h4>
            {{stats-block hours=stats.formattedAllHours workouts=stats.allWorkouts}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
